<div class="container" >
  <div class="row justify-content-center">
    <div class="login-container">

      <h3 class="text-center fw-bold text-uppercase texto-base" >
        CASTORES (SIGI)
      </h3>
      <p class="text-center mt-2">Favor de introducir su información</p>

      <form [formGroup]="form" (ngSubmit)="login()">

        <!-- Usuario -->
        <div>
          <label for="usuario">Usuario</label>
          <input id="usuario" type="text" pInputText formControlName="usuario" placeholder="Usuario"
            class="full-width" />
          <small *ngIf="form.get('usuario')?.touched && form.get('usuario')?.invalid" class="p-error text-danger">
            Usuario requerido
          </small>
        </div>

        <!-- Contraseña -->
        <div>
          <label for="contrasena">Contraseña</label>
          
          <input id="contrasena" formControlName="contrasena" type="password" pInputText placeholder="Contraseña"
            class="full-width" />
          <small *ngIf="form.get('contrasena')?.touched && form.get('contrasena')?.invalid" class="p-error text-danger">
            Contraseña requerida (mínimo 6 caracteres)
          </small>
        </div>

        <!-- Botón -->
        <p-button label="Iniciar Sesión" type="submit" class="full-width" severity="secondary" [disabled]="form.invalid"><i
            class="pi pi-sign-in"></i></p-button>

      </form>

      
    </div>
  </div>
</div>