<div class="container mt-4">
    <div class="card">
        <div class="card-body">
                <p-table #dt [value]="productos" [loading]="loading" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
                   [globalFilterFields]="['nombre', 'cantidad', 'precio', 'estatusTexto']"[tableStyle]="{ 'min-width': '75rem' }">
                <ng-template #caption>
                  <div class="flex">
                        <span class="text-xl font-bold">Productos</span>
                        <p-button type="button" icon="pi pi-refresh" class="ml-auto" label="Recargar" (click)="reset()" text />
                    </div>
                    <br>
                    <div class="flex">
                        <p-button label="Limpiar Filtro" [outlined]="false" [raised]="true" severity="secondary" icon="pi pi-filter-slash" (click)="clear(dt)" />
                        <p-iconfield iconPosition="left" class="ml-auto">
                            <p-inputicon styleClass="pi pi-search" />
                            <input pInputText [(ngModel)]="searchValue" type="text" (input)="filtrarGlobal($event,dt)"
                                placeholder="Buscar producto" />
                        </p-iconfield>
                    </div>
                </ng-template>

                    <ng-template #header>
                    <tr>
                        <th pSortableColumn="nombre" style="width: 25%">Nombre <p-sortIcon field="nombre" /></th>
                        <th pSortableColumn="cantidad" style="width: 15%">Cantidad <p-sortIcon field="cantidad" /></th>
                        <th pSortableColumn="precio" style="width: 15%">Precio <p-sortIcon field="precio" /></th>
                        <th style="width: 25%">Acción</th>
                    </tr>
                    </ng-template>

                    <ng-template #body let-prod>
                    <tr>
                        <td>{{ prod.nombre }}</td>
                        <td>{{ prod.cantidad }}</td>
                        <td>{{ prod.precio }}</td>
                        <td>
                        <p-button icon="pi pi-minus-circle" title="Agregar Venta" label="Retiro" severity="danger" size="small" class="mr-2" (click)="abrirDialogoAgregarVentas(prod.idProducto,prod.nombre)"></p-button>
                        </td>
                    </tr>
                    </ng-template>

                    <ng-template #emptymessage>
                    <tr>
                        <td colspan="4">No hay productos para mostrar.</td>
                    </tr>
                    </ng-template>
                </p-table>
        </div>
    </div>
</div>


<p-dialog
  header="Agregar Venta"
  [(visible)]="mostrarDialogoVentas"
  [modal]="true"
  [style]="{ width: '30rem' }"
>
  <div>
    <p>Producto: {{ nombreSeleccionado }}</p>
    <br>   
    <p-floatlabel variant="on" class="m-2  w-100">
        <p-iconfield class="px-2">
            <p-inputicon class="pi pi-sort-numeric-up" />
            <input pInputText id="cantidadAgregar" type="number" [(ngModel)]="cantidadAgregar"  pSize="large" autocomplete="off" class="w-100" />
        </p-iconfield>
        <label for="cantidadAgregar">Cantidad a agregar a retirar.</label>
    </p-floatlabel>
    <br>   
    <div class="mt-3 text-right">
        <button pButton label="Guardar" severity="success" class="m-2"  (click)="confirmarAgregarVentas()" ></button>
    </div>
    
  </div>
</p-dialog>